.jumbotron {
	background-color:yellow;
	color:black;
	margin-top: 30px;

}

 footer {
	padding:10px 10px 0 10px;
	background-color:yellow;
	margin-bottom: 0px;
	margin-top: 10px;

}
 
 .card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0;
}
.footer-adress-icon {
	padding: 10px;										
}
.tab-content {
	padding-top: 10px;
}